<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.hidden_field :avatar, class: "js-signed-upload-value" %>

    <input type="file" class="js-signed-upload" data-presign-url="<%= presign_form_upload_path %>" />

    <p class="js-signed-upload-status">
      <% if f.object.avatar.present? %>
      <a href="<%= f.object.avatar %>">File attached</a>
      <% end %>
    </p>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
